In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
path = r"D:\IdeaC\GreyAtoms\Python\Data\ipl_dataset.csv"

In [19]:
pd.options.display.max_columns = 24

In [20]:
ipl_dataset = pd.read_csv(path, delimiter=',')
ipl_dataset.head()

,match_code,date,city,venue,team1,team2,toss_winner,toss_decision,winner,win_type,win_margin,inning,delivery,batting_team,batsman,non_striker,bowler,runs,extras,total,extras_type,player_out,wicket_kind,wicket_fielders
0,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,9.0,1,0.1,Mumbai Indians,ST Jayasuriya,SR Tendulkar,I Sharma,0,1,1,wides,NaN,NaN,NaN
1,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,9.0,1,0.2,Mumbai Indians,ST Jayasuriya,SR Tendulkar,I Sharma,1,0,1,NaN,NaN,NaN,NaN
2,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,9.0,1,0.3,Mumbai Indians,SR Tendulkar,ST Jayasuriya,I Sharma,0,1,1,wides,NaN,NaN,NaN
3,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,9.0,1,0.4,Mumbai Indians,SR Tendulkar,ST Jayasuriya,I Sharma,0,0,0,NaN,NaN,NaN,NaN
4,392203,2009-05-01,East London,Buffalo Park,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,9.0,1,0.5,Mumbai Indians,SR Tendulkar,ST Jayasuriya,I Sharma,2,0,2,NaN,NaN,NaN,NaN

In [4]:
unique_cities = pd.unique(ipl_dataset['city'])
unique_cities

array(['East London', 'Port Elizabeth', 'Centurion', 'neutral_venue',
       'Chennai', 'Jaipur', 'Kolkata', 'Delhi', 'Chandigarh', 'Hyderabad',
       'Ranchi', 'Mumbai', 'Bangalore', 'Dharamsala', 'Pune', 'Rajkot',
       'Durban', 'Cuttack', 'Cape Town', 'Ahmedabad', 'Johannesburg',
       'Visakhapatnam', 'Abu Dhabi', 'Raipur', 'Kochi', 'Kimberley',
       'Nagpur', 'Bloemfontein', 'Indore', 'Kanpur'], dtype=object)

In [24]:
missing = round(ipl_dataset.isnull().sum()/ipl_dataset.shape[0]*100)
missing = missing[missing>0]
missing

winner              1.0
win_type            1.0
win_margin          1.0
extras_type        95.0
player_out         95.0
wicket_kind        95.0
wicket_fielders    96.0
dtype: float64

In [5]:
columns_null = ipl_dataset.isnull().sum()[ipl_dataset.isnull().sum()>0].index
print(columns_null)

Index(['winner', 'win_type', 'win_margin', 'extras_type', 'player_out',
       'wicket_kind', 'wicket_fielders'],
      dtype='object')

In [25]:
group_matches = ipl_dataset.pivot_table(index=['match_code','venue'], aggfunc='count')
# group_matches.sort_values('venue', inplace=True, ascending=False)
group_matches = group_matches.index.get_level_values(1).value_counts()
group_matches_5 = group_matches.head(5).index
group_matches_5

Index(['M Chinnaswamy Stadium', 'Eden Gardens', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'MA Chidambaram Stadium, Chepauk'],
      dtype='object')

In [30]:
most_ven = ipl_dataset[['match_code', 'venue']].drop_duplicates()
most_ven = most_ven['venue'].value_counts()
most_ven.head(5).index

Index(['M Chinnaswamy Stadium', 'Eden Gardens', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'MA Chidambaram Stadium, Chepauk'],
      dtype='object')

In [7]:
group_run = ipl_dataset.groupby('runs')['runs'].count()
group_run

runs
0    55870
1    50087
2     8835
3      473
4    15409
5       42
6     5806
Name: runs, dtype: int64

In [32]:
ipl_dataset['year'] = ipl_dataset['date'].apply(lambda x:datetime.datetime.strptime(x, "%Y-%m-%d").year)
print(ipl_dataset['year'].nunique())
print(ipl_dataset['year'].unique())

9
[2009 2014 2011 2008 2015 2010 2013 2012 2016]

In [34]:
ipl_dataset['year2'] = ipl_dataset['date'].apply(lambda x:int(x[:4]))
print(ipl_dataset['year2'].nunique())
print(ipl_dataset['year2'].unique())

9
[2009 2014 2011 2008 2015 2010 2013 2012 2016]

In [37]:
ipl_dataset[['match_code','year']].drop_duplicates()['year'].value_counts()

2013    76
2012    74
2011    73
2016    60
2014    60
2010    60
2015    59
2008    58
2009    57
Name: year, dtype: int64

In [9]:
runs_year = ipl_dataset.pivot_table(index=['match_code', 'year'], values='total', aggfunc='sum')
runs_year.reset_index(level=0, drop=True, inplace=True)
matchcount_year = runs_year.groupby(runs_year.index).count()
print(matchcount_year)
runs_year = runs_year.groupby(runs_year.index).sum()
runs_year

      total
year
2008     58
2009     57
2010     60
2011     73
2012     74
2013     76
2014     60
2015     59
2016     60

      total
year
2008  17936
2009  16320
2010  18862
2011  21154
2012  22451
2013  22541
2014  18909
2015  18331
2016  18862

In [38]:
ipl_dataset.groupby('year')['total'].sum()

year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

In [10]:
ipl_dataset.columns

Index(['match_code', 'date', 'city', 'venue', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'winner', 'win_type', 'win_margin', 'inning',
       'delivery', 'batting_team', 'batsman', 'non_striker', 'bowler', 'runs',
       'extras', 'total', 'extras_type', 'player_out', 'wicket_kind',
       'wicket_fielders', 'year'],
      dtype='object')

In [39]:
inning_total = ipl_dataset.groupby(by=['match_code', 'batting_team'])['total'].sum()
# inning_total.reset_index(level=0, drop=True, inplace=True)
top_innings = inning_total.sort_values(ascending=False)
high_per = top_innings[top_innings>200]
high_per.head(10)

match_code  batting_team
598027      Royal Challengers Bangalore    263
980987      Royal Challengers Bangalore    248
419137      Chennai Super Kings            246
335983      Chennai Super Kings            240
829795      Royal Challengers Bangalore    235
501260      Kings XI Punjab                232
733987      Kings XI Punjab                231
501223      Delhi Daredevils               231
980907      Royal Challengers Bangalore    227
829785      Royal Challengers Bangalore    226
Name: total, dtype: int64

In [12]:
inn_run_tol = ipl_dataset.pivot_table(index='match_code', columns='inning', values='total', aggfunc='sum')
inn_run_tol = inn_run_tol[inn_run_tol[1]>200]
inn_run_tol['diff'] = inn_run_tol[1]-inn_run_tol[2]
loss_200 = inn_run_tol[inn_run_tol['diff']<0]
loss_per_200 = loss_200.shape[0]/inn_run_tol.shape[0]*100
loss_per_200

12.82051282051282

In [14]:
top_per_year = ipl_dataset.pivot_table(index=['year', 'match_code', 'winner'], aggfunc='count')
top_per_year['winner'] = top_per_year.index.get_level_values(2)
top_per_year['year'] = top_per_year.index.get_level_values('year')
top_per_year.reset_index(level=[0, 1, 2], drop=True, inplace=True)
top_per_year = top_per_year.groupby(by=['year', 'winner'])[['winner']].count()
for year in ipl_dataset['year'].unique():
    print(year, top_per_year.loc[year].idxmax()['winner'])

2009 Delhi Daredevils
2014 Kings XI Punjab
2011 Chennai Super Kings
2008 Rajasthan Royals
2015 Chennai Super Kings
2010 Mumbai Indians
2013 Mumbai Indians
2012 Kolkata Knight Riders
2016 Sunrisers Hyderabad

In [53]:
ss1 = ipl_dataset.groupby(['year','winner'])['match_code'].nunique()
ss1 = ss1.groupby(level=0,group_keys=False)
ss1 = ss1.apply(lambda x:x.sort_values(ascending=False).head(1))
ss1

year  winner
2008  Rajasthan Royals         13
2009  Delhi Daredevils         10
2010  Mumbai Indians           11
2011  Chennai Super Kings      11
2012  Kolkata Knight Riders    12
2013  Mumbai Indians           13
2014  Kings XI Punjab          12
2015  Mumbai Indians           10
2016  Sunrisers Hyderabad      11
Name: match_code, dtype: int64

In [15]:
df = pd.read_clipboard()
df

   Pos          Team  Weighted Matches Points  Rating
0    1         India                32  3,631     113
1    2   New Zealand                23  2,547     111
2    3  South Africa                27  2,917     108
3    4       England                35  3,663     105
4    5     Australia                27  2,640      98
5    6     Sri Lanka                37  3,462      94
6    7      Pakistan                27  2,263      84
7    8   West Indies                29  2,381      82
8    9    Bangladesh                22  1,438      65
9   10      Zimbabwe                 9    140      16