In [66]:
import pandas as pd
import numpy as np
import  scipy.stats  as  stats

In [62]:
df = pd.read_excel(r"C:\Users\WONDER\Desktop\divakar.xlsx")
df.head()

,Unnamed: 0,1Flat1_9,2Flat1_9,3Flat1_9,Unnamed: 4,1Flat2_9,2Flat2_9,3Flat2_9
0,1,10,10,10,NaN,20,20,20
1,2,10,10,10,NaN,20,20,20
2,3,10,10,10,NaN,20,20,20

In [59]:
flat1 = df.filter(regex="Flat")
flat1.head()

   Flat1.1  Flat1.2  Flat1.3  Flat2.1  Flat2.2  Flat2.3
0       10       10       10       20       20       20
1       10       10       10       20       20       20
2       10       10       10       20       20       20

In [63]:
flat11 = df[[col for col in df.columns if col.endswith("Flat1_9")]]
flat11

   1Flat1_9  2Flat1_9  3Flat1_9
0        10        10        10
1        10        10        10
2        10        10        10

In [57]:
flat1.cumsum(axis=1).sum(axis=0)

Flat1.1    30
Flat1.2    60
Flat1.3    90
dtype: int64

In [65]:
x = [i for i in range(1,10)]
x1,x2,x3 = np.split(x,[3,5], axis=0)
x1, x2, x3

(array([1, 2, 3]), array([4, 5]), array([6, 7, 8, 9]))

In [88]:
val = {0:[10,20],1:[30,40]}
stats.levene(*val.values())

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\morestats.py:2345: RuntimeWarning: invalid value encountered in double_scalars
  W = numer / denom
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

LeveneResult(statistic=nan, pvalue=nan)