In [69]:
import pandas as pd
import numpy as np

In [70]:
path = r"Data\bank.csv"

In [71]:
data = pd.read_csv(path, delimiter=";")
print(data.head())

   age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no

In [72]:
data = data.replace("unknown", np.NaN)

In [73]:
data.rename(columns={"loan" : "previous_loan_status", "y" : "loan_status"}, inplace=True)

In [74]:
print(data.job.value_counts())

print(data.job.describe())

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
Name: job, dtype: int64
count           4483
unique            11
top       management
freq             969
Name: job, dtype: object

In [75]:
loan_approval = data.fillna("no").groupby(by=["job", "loan_status"]).count().iloc[:,0].unstack()
loan_approval["percent"] = loan_approval.yes/(loan_approval.yes+loan_approval.no)

print(loan_approval)

loan_status     no  yes   percent
job
admin.         420   58  0.121339
blue-collar    877   69  0.072939
entrepreneur   153   15  0.089286
housemaid       98   14  0.125000
management     838  131  0.135191
no              31    7  0.184211
retired        176   54  0.234783
self-employed  163   20  0.109290
services       379   38  0.091127
student         65   19  0.226190
technician     685   83  0.108073
unemployed     115   13  0.101562

In [76]:
loan_approval_edu = data.fillna("unknown").groupby(by=["education", "loan_status"]).count().iloc[:,0].unstack()
loan_approval_edu["percent"] = loan_approval_edu.yes/(loan_approval_edu.yes+loan_approval_edu.no)

print(loan_approval_edu)

loan_status    no  yes   percent
education
primary       614   64  0.094395
secondary    2061  245  0.106245
tertiary     1157  193  0.142963
unknown       168   19  0.101604

In [77]:
loan_approval_prev_loan = data.fillna("unknown").groupby(by=["previous_loan_status", "loan_status"]).count().iloc[:,0].unstack()
loan_approval_prev_loan["percent"] = loan_approval_prev_loan.yes/(loan_approval_prev_loan.yes+loan_approval_prev_loan.no)

print(loan_approval_prev_loan)

loan_status             no  yes   percent
previous_loan_status
no                    3352  478  0.124804
yes                    648   43  0.062229

In [78]:
loan_st_mar = data.pivot_table(index="loan_status", columns="marital", values="age")

print(loan_st_mar["married"])

loan_status
no     43.172222
yes    46.021661
Name: married, dtype: float64

In [79]:
df_branch_1 = pd.DataFrame({'customer_id': [1, 2], 'first_name': ["Abhishek", "Sikandar"], 'last_name' : ["kumar", "kumar"]})

df_branch_2 = pd.DataFrame({'customer_id': [3, 4], 'first_name': ["Anurag", "Sushil"], 'last_name' : ["kumar", "kumar"]})

df_credit_score = pd.DataFrame({'customer_id': [1, 2], 'score': ["10", "10"]})

In [80]:
df_new = pd.concat([df_branch_1, df_branch_2])
print(df_new)

print(pd.merge(df_new, df_credit_score, on="customer_id"))

   customer_id first_name last_name
0            1   Abhishek     kumar
1            2   Sikandar     kumar
0            3     Anurag     kumar
1            4     Sushil     kumar
   customer_id first_name last_name score
0            1   Abhishek     kumar    10
1            2   Sikandar     kumar    10